section {
  bottom: 0px;
  color: rgb(17, 17, 17);
  height: 1418px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(17, 17, 17);
  top: 0px;

  column-rule-color: rgb(17, 17, 17);
  perspective-origin: 586.5px 759px;
  transform-origin: 586.5px 759px;
  caret-color: rgb(17, 17, 17);
  border: 0px none rgb(17, 17, 17);
  font: normal normal 400 normal 13px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 50px 0px 250px;
  outline: rgb(17, 17, 17) none 0px;
  padding: 80px 0px 20px;
}/*#SECTION_4*/

table {
  border-collapse: collapse;
  color: rgb(17, 17, 17);

  text-decoration: none solid rgb(17, 17, 17);

  column-rule-color: rgb(17, 17, 17);
  perspective-origin: 586.5px 634px;
  transform-origin: 586.5px 634px;
  caret-color: rgb(17, 17, 17);
  border: 1px solid rgb(197, 197, 197);
  border-spacing: 0px 0px;
  font: normal normal 400 normal 13px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 0px 10px;
  outline: rgb(17, 17, 17) none 0px;
}/*#TABLE_5*/

thead {
  border-collapse: collapse;
  color: rgb(17, 17, 17);
  height: 35px;
  text-decoration: none solid rgb(17, 17, 17);

  column-rule-color: rgb(17, 17, 17);
  perspective-origin: 586px 17.5px;
  transform-origin: 586px 17.5px;
  caret-color: rgb(17, 17, 17);
  border: 0px none rgb(197, 197, 197);
  font: normal normal 400 normal 13px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(17, 17, 17) none 0px;
}/*#THEAD_6*/

tr {
  border-collapse: collapse;
  color: rgb(17, 17, 17);
  height: 35px;
  text-decoration: none solid rgb(17, 17, 17);
  vertical-align: middle;

  column-rule-color: rgb(17, 17, 17);
  perspective-origin: 586px 17.5px;
  transform-origin: 586px 17.5px;
  caret-color: rgb(17, 17, 17);
  border: 0px none rgb(197, 197, 197);
  font: normal normal 400 normal 13px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(17, 17, 17) none 0px;
}/*#TR_7*/

td {
  border-collapse: collapse;
  color: rgb(17, 17, 17);
  height: 16px;
  text-decoration: none  rgb(17, 17, 17);
  vertical-align: middle;

  column-rule-color: rgb(17, 17, 17);
  perspective-origin: 217.5px 17.5px;
  transform-origin: 217.5px 17.5px;
  caret-color: rgb(17, 17, 17);
  background: rgb(250, 250, 250) linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243)) repeat-x scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(17, 17, 17);
  border-right: 0px none rgb(17, 17, 17);
  border-bottom: 0px none rgb(17, 17, 17);
  border-left: 0px none rgba(0, 0, 0, 0);
  font: normal normal 700 normal 13px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(17, 17, 17) none 0px;
  padding: 10px 8px 8px 0px;
}/*#TD_1*/

div {
  border-collapse: collapse;
  color: rgb(17, 17, 17);
  height: 16px;

  text-decoration: none solid rgb(17, 17, 17);

  column-rule-color: rgb(17, 17, 17);
  perspective-origin: 213.5px 8px;
  transform-origin: 213.5px 8px;
  caret-color: rgb(17, 17, 17);
  border: 0px none rgb(17, 17, 17);
  font: normal normal 700 normal 13px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(17, 17, 17) none 0px;
}/*#DIV_2*/

a {
  border-collapse: collapse;
  color: rgb(17, 17, 17);
  text-decoration: none solid rgb(17, 17, 17);
  column-rule-color: rgb(17, 17, 17);
  caret-color: rgb(17, 17, 17);
  border: 0px none rgb(17, 17, 17);
  font: normal normal 700 normal 13px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(17, 17, 17) none 0px;
}/*#A_3*/

.go-live {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  width: 13px;
  height: 12px;
  margin-top: 6px;
  background-image: url("test.png");
  background-position: 0 -574px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.table.withCheckbox td.checkbox {
  padding-left: 8px;
  padding-right: 1px;
  width: 20px;
  text-align: center;
  border-right-color: transparent;
}

.table tbody tr.even {
  background-color: #fafafa;
}